# System- und Umgebungsdateien
*env/
*.pth
*.dll
*.lib
*.json
__pycache__/

# Datensätze und fremde Repositories (mit Pfadangabe für den Unterordner)
data/
annotations/
/models/
sam3_outputs/
singularity/*.simg
singularity/models/
"Foundation & Open-Vocabulary Segmentation Models/COCO_SAM/"
"Foundation & Open-Vocabulary Segmentation Models/MedSAM/"
"Foundation & Open-Vocabulary Segmentation Models/SIIM/"
"Foundation & Open-Vocabulary Segmentation Models/images_*/"
"Foundation & Open-Vocabulary Segmentation Models/sam_batch_output/"
"Foundation & Open-Vocabulary Segmentation Models/sam_experimente_output/"
"Foundation & Open-Vocabulary Segmentation Models/text_prompt_output_*/"
